// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

:root {
  --blue-900: #0f0d18;
  --blue-700: #191b33;
  --blue-600: #192233;
  --blue-500: #383641;
  --white-400: #f4f3f4;
  --white-300: #faf8ff;
}
